<div class="product-list-container">
  <div class="header">
    <div>
      <h1 class="title">Catalogue des Produits</h1>
      <p class="subtitle">Découvrez notre sélection de fruits et légumes frais</p>
    </div>
    <button class="add-button">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
      Ajouter un produit
    </button>
  </div>

  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <div *ngIf="!isLoading" class="products-grid">
    <app-product-card
      *ngFor="let product of products"
      [product]="product"
    ></app-product-card>
  </div>
</div>